.navbar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #f3efef;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 1000;
}

.navbar__logo {
  font-size: 24px;
  font-weight: bold;
}

.navbar__logo img{
  width: 200px;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar__item {
  margin: 0;
}

.navbar__link {
  text-decoration: none;
  color: #252C35;
  font-size: 18px;
}

.navbar__link:hover {
  text-decoration: underline;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #252C35;
  margin: 5px 0;
}

.navbar__links {
  list-style: none;
  display: flex;
  gap: 20px;
}

main{
  padding-top: 90px;
}

.registration-container {
  display: flex;
  justify-content:space-around;
  min-height: 100%; 
}

.registration-form h1 {
  text-align: center;
}


.form-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 20px auto;
}

.form-group textarea{
  resize: none;
  height: 80px;
}

.form-group label {
  flex: 1;
  margin-right: 10px;
}

.form-control {
  flex: 2; 
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.next{
  width: 150px;
}

button[type="submit"] {
  width: 100%;
  padding: 7px;
  background-color: #526681;
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: large;
  margin-bottom: 20px;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}

.login-container{
  display:flex;
  justify-content: center;
  min-height: 100vh;
}

.error-message {
  color: red;
  font-weight: bold;
}

.new-user-button {
  text-align: center;
  margin-top: 10px;
}

.new-user-button a {
  text-decoration: none;
  background-color: #526681;
  color: #fff;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease-in-out;
}

.new-user-button a:hover {
  background-color: #0056b3;
}

hr {
  border: none; 
  height: 1px; 
  background-color: #ccc; 
  margin: 20px 0; 
}

.stepper{
  margin-top: -15px;
}

.image-container {
  width: 100%;
  margin: 20px auto;
  text-align: center; 
  display: block; 
  margin-bottom: 0;
}


.image-container img {
  width: 100%; 
  height: auto; 
  display: block; 
  margin: 0 auto; 
}

.done{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  gap: 5px;
}

.done button{
  width: 150px;
  padding: 10px;
}

@media (max-width: 768px) {
  .done button {
    width: 100px; 
    padding: 5px; 
    font-size: 14px; 
  }
  .done{
    margin-right: 8px;
  }
  .single-vertical-connector {
   display:none;
  }
  .image-paragraph-container h2{
    font-size: 20px;
  }
  .image-paragraph-container p{
    font-size: 16px;
  }

  .navbar__toggle {
    display: block;
  }

  .navbar__links {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    background: #f3efef;
  }
  .navbar.open .navbar__links {
    display: flex;
  }
  .summer-camp-container .paragraph{
    font-size: 24px;
  }
 
}

.submit{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  gap: 5px;
  margin-bottom: 20px;
}

.submit button{
  width: 150px;
  padding: 10px;
}

.pathway-container {
  position: relative; 
  margin: 0 auto; 
  width: 80%; 
  min-height: 100vh; 
  display: flex;
  flex-direction: column; 
  align-items: center; 
  justify-content: center; 
  padding: 20px; 
  background-color: #fff; 
}

.custom-connector {
  position: absolute;
  top: 50%; 
  left: 50%; 
  height: 100%;
  width: 2px;
  background-color: rgb(33, 150, 243); 
  transform: translate(-50%); 
}

.single-vertical-connector {
  position: absolute;
  top: 0;
  left: 50%;
  height: 100%;
  width: 2px;
  background-color: rgb(33, 150, 243); 
  transform: translateX(-50%);
}

.summer-camp-container{
    background: #82C5D5;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid #82C5D5;
    margin-top: -5px;
    padding: 12% 0 12% 0;
}

.summer-camp-container button{
  background-color: #510AC9;
  border:none;
  padding: 15px 35px;
  color: white;
  margin-top: 20px;
}

.summer-camp-container button:hover {
  background-color: #292D32;
}

.paragraph{
  font-size: 42px;
  color: #fff;
}

.summerCamp-paragraph{
  color:#fff;
}

.image-with-paragraph{
  position: relative;
  text-align: left;
}

.ai{
  position:relative;
  text-align: left;
  margin-top: -5px;
}

.ai-container{
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  font-size: 32px;
  width: 80%;
}

.cloud{
  position:relative;
  text-align: left;
}

.cloud-container{
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  font-size: 32px;
  width: 80%;
}

.robotics{
  position:relative;
  text-align: left;
}

.robotics-container{
  position: absolute;
  top: 20%;
  left: 10%;
  color: #fff;
  font-size: 32px;
  width: 80%;
}

.image-paragraph-container {
  position: absolute;
  top: 30%;
  left: 10%;
  color: #fff;
  font-size: 32px;
  width: 80%; 
}

.footer{
  margin-top: -15px;
  background-color: #0C161E;
  color:#696958;
  padding:30px;
}

.hover-effect:hover .slide-from-left {
  opacity: 0;
  transform: translateX(-100%); 
  animation: slideFromLeft 1s ease forwards;
}

@keyframes slideFromLeft {
  to {
    opacity: 1;
    transform: translateX(0); 
  }
}

.hover-effect:hover .slide-right {
  transform: translateX(100%);
  animation: slideFromTop 1s ease forwards;
}

@keyframes slideFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.hover-effect:hover .slide-down {
  transform: translateY(-100%);
  animation: slideFromTop 1s ease forwards;
}

@keyframes slideFromTop {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.learning-pathway{
  background-color: #0C171F;
  color: #fff;
  text-align: center;
  margin-top: -15px;
}

.dna-1{
  padding: 10%;
}

.dna-1 .paragraph1 {
   font-size: 38px;
}

.dna-1 .paragraph2 {
  color: #45A6CD;
}

.dna-1 img{
  margin: 30px auto;
  width: 100%;
}

.dna-2{
  padding: 20px;
}

.dna-2 .paragraph1 {
   font-size: 38px;
}

.dna-2 img{
  margin: 30px auto;
  width: 80%;
}

.dna-3{
  padding: 20px;
}

.dna-3 .paragraph1 {
   font-size: 38px;
}

.dna-3 img{
  margin: 30px auto;
  width: 80%;
}

.studio{
  background-color: #101C26;
  color: #fff;
  margin-top: -15px;
  text-align: center;
}

.studio-container{
  padding: 30px;
}

.studio-container .paragraph1{
  font-size: 38px;
}

.studio-container .paragraph2 {
  color: #45A6CD;
}

.studio-images{
  width: 95%;
  margin: 10px auto;
}

.studio-images .image1{
  width:30%;
}

.studio-images .image2{
  width:33%;
}

.studio-images .image3{
  width:30%;
}

.studio-info{
  background-color: #000000;
  color:#fff;
  text-align: center;
  height: 100px;
  margin-top: -30px;
  margin-bottom: 0;
}

.studio-info p {
  padding: 30px;
  font-size: 28px;
}

.contact{
  margin-top: -25px;
  width:100%;
  height: 1000px;
}

.contact .paragraph1{
  margin-top: 0;
  color : white;
  padding-top: 10%;
  font-size: 40px;
}

.contact .paragraph2{
  color : white;
}

.parent-info{
  display: flex;
  align-items: center;
}

.info{
  background-color:rgba(60, 68, 79, 0.5);
  Color: white;
  width: 42%;
  margin: 50px auto;
  height: 600px;
}

.info h3 {
  text-align: left;
  padding-top: 25px;
  padding-left: 15px;
}

.headquarters{
  text-align: left;
  margin-top: 45px;
  margin-left: 15px;
}

.headquarters p {
  padding-top: 0;
}

.regional-office{
  text-align: left;
  margin-top: 45px;
  margin-left: 15px;
}

.connect{
  text-align: left;
  margin-top: 45px;
  margin-left: 15px;
  padding-bottom: 25px;
}

.user-info{
  background-color:rgba(60, 68, 79, 0.5);
  Color: white;
  width: 42%;
  margin: 50px auto;
  height: 600px;
}

.user-form {
  width: 90%;
  margin: 0 auto; 
}

.user-form label{
  display: block;
  text-align: left;
  margin-top: 20px;
}

.user-info h3 {
  text-align: left;
  padding-top: 25px;
  padding-left: 20px;
}

.user-form input {
  width: 100%;
  text-align: left;
  padding: 15px 0;
  padding-left: 5px;
  background-color:rgba(60, 68, 79, 0.5);
  color:white;
  border: 1px solid white;
}

.user-form textarea{
  width: 100%;
  text-align: left;
  resize: none;
  height: 80px;
  padding-left: 5px;
  background-color:rgba(60, 68, 79, 0.5);
  color:white;
  border: 1px solid white;
}

#send-button {
  background-color:rgba(60, 68, 79, 0.5);
  color: white; 
  border: 2px solid white;
  padding: 15px;
  width: 60%;
  margin-top: 20px; 
  cursor: pointer;
  float: left; 
}

.levels{
  margin-top: -25px;
  /* width: 100%; */
  height: auto;
}

.levels h1{
  text-align: left;
  margin-left: 10%;
  padding-top: 5%;
  color: white;
}

.stage-topics{
  margin-left: 10%;
}

.stage-topics button{
  border: none;
  padding: 40px 40px;
  width: 26%;
}

.selected-topics {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 90%;
  margin: 20px 20%;
  padding-bottom: 80px;
}

.selected-topics h2{
  text-align: left;
  font-size: 20px;
  font-weight:500;
  color: white;
}

.selected-topics p{
  text-align: left;
  color: #BFC5C9;
}

.topic-card {
  flex: 0 0 calc(29% - 20px);
  margin-right:15px;
}

.dashboard-content {
  display: flex;
  flex-wrap: wrap; 
}

.organization-container{
  width: 16%;
}

.address-container {
  width: 16%;
}

.mobile-container{
  width: 16%;
}

.speciality-container{
  width: 19%;
}

.details-container{
  width: 17%;
}

.unique-container{
  width: 16%;
}

.data-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
  height: 120px; /* Set a fixed height for the containers */
  width: 90%;
  overflow: hidden; 
}

.data-inner-container {
  height: 100%;
  overflow-y: auto; /* Enable vertical scrolling */
}

/* Add this CSS to style the scroll bar */
.data-inner-container::-webkit-scrollbar {
  width: 0;
}

/* .data-inner-container::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 4px;
}

.data-inner-container::-webkit-scrollbar-track {
  background-color: #f1f1f1;
} */

.error-msg {
  margin: 30px auto;
  text-align: center;
}

.error-msg button{
  padding: 15px 50px;
  border-radius: 12px;
  border-width: 0;
  background-color: #0036b3;
  color: #fff;
}

.service-content{
  display: flex;
  flex-wrap: wrap; 
  /* margin-left: 30px; */
}

.id-container{
  width: 10%;
}

.name-container{
  width: 15%;
}

.description-container{
  width: 20%;
}

.status-container{
  width: 20%;
}

.reviewed-container{
  width: 15%;
}

.service-count{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.service-container {
  border-bottom: 1px solid #ccc;
  padding-bottom: 8px;
  margin-bottom: 8px;
  height: 150px; /* Set a fixed height for the containers */
  width: 90%;
  overflow: hidden; 
}

.star {
  color: #ccc; /* Default color of the stars */
  cursor: pointer;
}

.star.filled {
  color: yellow;
}

.star-rating {
  font-size: 24px; /* Adjust the font size as needed */
  text-align: right;
  margin-right: 160px;
}

/* Example styles */
.custom-datepicker {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 6px;
  background-color: #fff;
  color: #333;
  width: 200px; /* Adjust width as needed */
  margin-left: 2px;
}

/* Style for the input field */
.custom-datepicker input {
  width: 100%;
  height: 100%;
  padding: 8px;
  font-size: 16px;
  border: none;
  outline: none;
  background-color: transparent;
  color: #333;
}

/* Style for the dropdown calendar */
.custom-datepicker .react-datepicker-popper {
  z-index: 9999; /* Ensure it appears above other elements */
}


@media (max-width: 768px) {
  .stage-topics {
    margin-right: 20%;
  }

  .levels{
    height: auto;
  }

  .stage-topics button {
    padding: 20px 20px;
    width: 26%;
  }

  .selected-topics {
    flex-direction: row;
    width: 90%;
    margin: 10px 15%;
    margin-bottom: 15px;
  }

  .topic-card {
    flex: 0 0 calc(44.4% - 20px);
    margin-right: 15px;
  }

  .info,.user-info{
    height: 700px;
  }

  .studio-container{
    padding: 50px;
  }

  .studio-container .paragraph1{
    font-size: 38px;
    padding-top: 20px;
  }

  .studio-container .paragraph2{
    padding-top: 30px;
    font-size: 20px;
  }

  .studio-images{
    padding-top: 20px;
  }

  .studio-info{
    height: 180px;
    margin-bottom: 0;
  }

  .ai-container h2{
    font-size: 20px;
  }

  .ai-container p{
    font-size: 15px;
  }

  .cloud-container h2{
    font-size: 20px;
  }

  .cloud-container p{
    font-size: 15px;
  }

  .robotics-container h2{
    font-size: 20px;
  }

  .robotics-container p{
    font-size: 15px;
  }

  .registration-form{
    width: 90%;
    background-color: "#3A434E";
  }

  .organization-container,
  .address-container,
  .mobile-container,
  .speciality-container,
  .details-container,
  .unique-container {
    width: 33.3%;
  }

  .id-container,
  .name-container {
    width: 49%;
  }
}
